node_modules

.DS_Store
.env
.env.*
!.env.example

.svelte-kit
build
dist
package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vercel

# test + coverage output
coverage
playwright-report
test-results
.playwright

# editor
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
